<!--<html>
      <style type="text/css">
        body{color:#efd;background:#453;padding:0 5em;margin:0}
        h1{padding:2em 1em;background:#675}
        h2{color:#bf8;border-top:1px dotted #fff;margin-top:2em}
        p{margin:1em 0}
      </style>
     
      <body>
        <h1>Onroadrui blog</h1>
        <h3>生如夏花之绚烂，死如秋实之静美</h3>
      </body>
</html>
-->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    {% block meta %}<!-- block meta  -->{% endblock %}
    <title>{% block title %}  {% endblock %}  OnroadRui的个人博客</title>
    <link rel="stylesheet" href="/static/css/uikit.min.css">
    <link rel="stylesheet" href="/static/css/uikit.gradient.min.css">
    <link rel="stylesheet" href="/static/css/ruiblog.css" />
   <link rel="stylesheet" href="/static/css/friendly.css"> 
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/sha1.min.js"></script>
    <script src="/static/js/uikit.min.js"></script>
    <script src="/static/js/sticky.min.js"></script>
    <script src="/static/js/vue.min.js"></script>
    <script src="/static/js/ruiblog.js"></script>
    {% block beforehead %}<!-- before head  -->{% endblock %}
</head>
<body>
    <nav class="uk-navbar uk-navbar-attached uk-margin-bottom">
        <div class="uk-container uk-container-center">
            <a href="/index/" class="uk-navbar-brand">OnroadRui的个人博客</a>
           <!--
           <ul class="uk-navbar-nav">
                <li data-url="blogs"><a href="/"><i class="uk-icon-home"></i> 日志</a></li>
                <li><a target="_blank" href="#"><i class="uk-icon-book"></i> 教程</a></li>
                <li><a target="_blank" href="#"><i class="uk-icon-code"></i> 源码</a></li>
            </ul>
            -->
            <div class="uk-navbar-flip">

                <ul class="uk-navbar-nav" style="padding:10px">
                    <form action="/searchBlog" method="get">
                        <input type="text" name = "searchKey"
                        placeholder="根据title搜索" />
                    </form>
                </ul>
                <ul class="uk-navbar-nav">
                    <li><a href="/index/"><i class="uk-icon-home"></i>首页</a></li>
                    <li><a href="/about_me/"><i class="uk-icon-book"></i>About me</a></li>
                    <li><a href="/tag/"><i class="uk-icon-code"></i>标签</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="uk-container uk-container-center">
        <div class="uk-grid">
            <!-- content -->
            {% block content %}
            {% endblock %}
            <!-- // content -->
        </div>
    </div>

    <div class="uk-margin-large-top" style="background-color:#eee; border-top:1px solid #ccc;">
        <div class="uk-container uk-container-center uk-text-center">
            <div class="uk-panel uk-margin-top uk-margin-bottom">
                <p>
                    <a target="_blank" href="#" class="uk-icon-button uk-icon-weibo"></a>
                    <a target="_blank" href="#" class="uk-icon-button uk-icon-github"></a>
                 <!--   <a target="_blank" href="#" class="uk-icon-button uk-icon-linkedin-square"></a>
                    <a target="_blank" href="#" class="uk-icon-button
                    uk-icon-twitter"></a>-->
                </p>
                <p>Powered by <a href="#">python+django</a>. Copyright &copy;
                2016. [<a href="/admin/" target="_blank">Manage</a>]</p>
                <p>
                <!--<a href="http://www.liaoxuefeng.com/"
                    target="_blank">www.liaoxuefeng.com</a>-->
                All rights reserved.</p>
                <a target="_blank" href="#"><i class="uk-icon-html5" style="font-size:64px; color: #444;"></i></a>
            </div>
        </div>
    </div>
</body>
</html>

