{% extends "base.html" %}
{% block title %}{% endblock %}

{% block content %}

    {% if error %}
        <h1 class='uk-width-medium-3-4'>没有相关题目的文章</h1>
    {% else %}
    <div class="uk-width-medium-3-4">
        {% for blog in blog_list %}
            <article class="uk-article">
                <h2><a href="/ruiblog/{{ blog.id}}/">{{ blog.title }}</a></h2>
                <p class="uk-article-meta">发表于{{blog.timestamp }}</p>
                <p>{{ blog.summary }}</p>
                <p><a href="/ruiblog/{{blog.id}}/">继续阅读 <i class="uk-icon-angle-double-right"></i></a></p>
            </article>
            <hr class="uk-article-divider">
        {% endfor %}
    {% if error %}
        <div class="uk-panel uk-panel-header">
            <h3 class="uk-panel-title">友情链接</h3>
            <ul class="uk-list uk-list-line">
                <li><i class="uk-icon-thumbs-o-up"></i> <a target="_blank"
                href="#">我的CSDN</a></li>
                <li><i class="uk-icon-thumbs-o-up"></i> <a target="_blank"
                href="#">django官方入门</a></li>
                <li><i class="uk-icon-thumbs-o-up"></i> <a target="_blank"
                href="http://www.vimer.cn">vim教程</a></li>
                <li><i class="uk-icon-thumbs-o-up"></i> <a target="_blank"
                href="http://www.liaoxuefeng.com/">python | git |js 教程</a></li>
            </ul>
        </div>

    {% endif %}
    {% endif %}
    
    <!--分页的插入-->
    {% if blog_list.object_list and blog_list.paginator.num_pages > 1 %}
      <div>
      <ul class="pager">
      {% if blog_list.has_previous %}
        <li><a href="?page={{ blog_list.previous_page_number }}">上一页</a></li>
      {% endif %}

      {% if blog_list.has_next %}
        <li><a href="?page={{ blog_list.next_page_number }}">下一页</a></li>
      {% endif %}
      </ul>
      </div>
    {% endif %}
    
    </div>


{% endblock %}
